<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		
		<add key="testing.runImmediately" value ="false"/>

		<add key="general.country" value="kenya"/>
		<add key="general.requestedCurrencyISOCode" value=""/>
		<add key="general.currencyValueMin" value="0,0001"/>
		<add key="general.currencyValueMax" value="600,500"/>
		<add key="general.numberOfRecordsForEachCurrency" value="1"/>
		<add key="general.fromYear" value="2010"/>
		<add key="general.toYear" value="2024"/>
		<add key="general.startTime" value="07:19:55"/>
		<add key="general.configuredRepetetionInSeconds" value="10"/>
		<add key="general.encoding" value="cs-CZ"/>
		<add key="general.currencyCodesDataPath" value="\Resources\CurrencyProperties.csv"/>
		
		<add key="login.username" value="admin"/>
		<add key="login.password" value="lsd"/>
		
		<add key="upload.uploadUrl" value="http://hd-cf-w-09.cis.local:48888/api/5.53/exchange-rates"/>
		
		<add key="validation.identityService" value="https://hd-cf-w-09.cis.local:14889/connect/token"/>
		
		<add key="path.downloadFrom" value="https://www.centralbank.go.ke/forex/"/>
		
		<add key="download.downloadTo" value="\Resources\exchangeRates"/>
		<add key="download.exchangeRatesDataPath" value="\Resources\exchangeRates\Data.csv"/>
		<add key="path.workingDirecory" value="\bin\Debug\net8.0\"/>
		<add key="path.pathToConfigFile" value="\bin\Debug\net8.0\Application.dll.config"/>
		<add key="path.pathToLogsFile" value ="\logs\Log"/>
		<add key="path.pathToApplication" value ="\bin\Debug\net8.0\Application.exe"/>

	</appSettings>
</configuration>