<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="databaseConnectionString" value ="Data Source=C:\Users\samuel.wachtel\source\repos\OrderApi\Files\OrderDB.db;Version=3;"/>
		<add key="APIEndpoint" value="https://8301c3fe-6c6c-44d7-b7c2-7709b562bf2f.mock.pstmn.io/order"/>
	</appSettings>
</configuration>